<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue Todo</title>
</head>
<body>
    <div id="app">
        <h1>Todo App</h1>
        <input type="text" v-model="inputText" v-on:keyup.enter="addItem">
        <button v-on:click="addItem">add</button>
        <div>
                <ul>
                        <li v-for="(todoItem, index) in todoItems">
                            {{ todoItem }}
                            <button v-on:click="removeItem(todoItem, index)">remove</button>
                        </li>
                    </ul>
            <!-- <ul>
                <li v-for="todoItem in todoItems"></li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul> -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
           
            methods: {
                created: function() {
               this.fetchItems();
                },
                removeItem: function(todoItem, index){
                    //axios.delete('todos/' + index);
                    //console.log('todoItem, index');
                    this.todoItems.splice(index, 1);
                    localStorage.removeItem(todoItem);
                    
                },
                addItem: function(event) {
                    //if (event.keyCode ===13) {
                    var value= this.inputText;
                    this.todoItems.push(value);
                    localStorage.setItem(value, value);
                    this.inputText = '';
                    
                    //}
                    // $.ajax({
                    //     type: 'POST'
                    // })
                    // axios.post('주소'ㅡ this.inputText);
                },
                fetchItems: function() {
                    for (var i = 0; i < localStorage.length; i++) {
                        var value1 = localStorage.key(i);
                        this.todoItems.push(value1);
                    }
                }
            },
            el: '#app', 
            data: {
                inputText: '',
                todoItems: []
            },
 
        });
    </script>
</body>

</html>